
body {
	background-color:#f5360e;color:#555555;
}
h1 {
 	background-color:#002171;color:#FFFFFF"
}

nav {
	background-color:#BBDEFB"
}

h2 {
	color:#1976D2"
}

dt {
	color:#002171"
}

class {
	color:#1976D2"
}
